In [1]:
import os
path = os.getcwd()

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [1]:

import pandas as pd
import numpy as np
import ast
import re


import nltk
from nltk import word_tokenize
from nltk.stem import PorterStemmer

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle

In [4]:
movie = pd.read_csv(path + r'\trial data\tmdb_5000_movies.csv')
credit = pd.read_csv(path + r'\trial data\tmdb_5000_credits.csv')

In [5]:
movie.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [7]:
credit.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
root = pd.merge(movie , credit , on='title')

In [9]:
root.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [10]:
root.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [11]:
'id' , 'title' , 'genres' , 'keywords' , 'overview' , 'cast' , 'crew'

('id', 'title', 'genres', 'keywords', 'overview', 'cast', 'crew')

In [12]:
data = root[['id' , 'title' , 'genres' , 'keywords' , 'overview' , 'cast' , 'crew']]

In [13]:
data.head(1)

,id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

### Pre-Processing

In [14]:
data.head(1)

,id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [15]:
data.isnull().sum()

id          0
title       0
genres      0
keywords    0
overview    3
cast        0
crew        0
dtype: int64

In [16]:
data.dropna(inplace=True)

In [17]:
data.isnull().sum()

id          0
title       0
genres      0
keywords    0
overview    0
cast        0
crew        0
dtype: int64

In [18]:
data.duplicated().sum()

0

#### Genres

In [19]:
data.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [20]:
def extract_name(items):
    list = []
    items = ast.literal_eval(items)
    for i in items:
        list.append(i['name'])
    return list

In [21]:
data['genres'] = data['genres'].apply(extract_name)

In [22]:
data['genres'][0]

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [23]:
data['genres'][0]

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

#### Keywords

In [24]:
data['keywords'][0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [25]:
data['keywords'] = data['keywords'].apply(extract_name)

#### Cast

##### Here we are taking top 3 actors, because top 3 actors are the important actors in every movies

In [26]:
# data['cast'][0]

In [27]:
def cast_name(items):
    list = []
    items = ast.literal_eval(items)
    index = 0
    for i in items:
        if index !=3:
            list.append(i['name'])
            index += 1
        else:
            break
    return list

In [28]:
data['cast'] = data['cast'].apply(cast_name)

In [29]:
data['cast'][0]

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

#### Crew

##### Here we are taking only director, because all others are not important for recommender

In [30]:
# data['crew'][0]

In [31]:
def director_name(items):
    list = []
    items = ast.literal_eval(items)
    for i in items:
        if i['job'] == 'Director':
            list.append(i['name'])
            break
    return list

In [32]:
data['crew'] = data['crew'].apply(director_name)

In [33]:
data['crew'].tail(3)

4806         [Scott Smith]
4807         [Daniel Hsia]
4808    [Brian Herzlinger]
Name: crew, dtype: object

#### Making a copy of data for app

In [34]:
data_app = data[['id','title','genres','overview','cast','crew']]

#### Overview

In [35]:
data['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [36]:
data['overview'] = data['overview'].apply(lambda i: i.split())

#### Removing space from cast, crew, keywored and genres

In [37]:
data['genres'] = data['genres'].apply(lambda i : [j.replace(' ','') for j in i])

In [38]:
data['keywords'] = data['keywords'].apply(lambda i : [j.replace(' ','') for j in i])

In [39]:
data['cast'] = data['cast'].apply(lambda i : [j.replace(' ','') for j in i])

In [40]:
data['crew'] = data['crew'].apply(lambda i : [j.replace(' ','') for j in i])

#### Making a new column tokens

In [41]:
data['tokens'] = data['cast'] + data['crew'] + data['genres'] + data['keywords'] + data['overview']

In [42]:
data.head(1)

,id,title,genres,keywords,overview,cast,crew,tokens
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[SamWorthington, ZoeSaldana, SigourneyWeaver, ..."

#### Making new Data-Frame

In [43]:
new_data = data[['id' , 'title' , 'tokens']]

In [44]:
new_data.head()

,id,title,tokens
0,19995,Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ..."
1,285,Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Gor..."
2,206647,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux, SamM..."
3,49026,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman, Chri..."
4,49529,John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton, An..."

In [45]:
# new_data['tokens'][0]

In [46]:
new_data['tokens'] = new_data['tokens'].apply(lambda i : ' '.join(i))

In [47]:
new_data['tokens'] = new_data['tokens'].apply(lambda i : i.lower())

In [48]:
new_data.head()

,id,title,tokens
0,19995,Avatar,samworthington zoesaldana sigourneyweaver jame...
1,285,Pirates of the Caribbean: At World's End,johnnydepp orlandobloom keiraknightley gorever...
2,206647,Spectre,danielcraig christophwaltz léaseydoux sammende...
3,49026,The Dark Knight Rises,christianbale michaelcaine garyoldman christop...
4,49529,John Carter,taylorkitsch lynncollins samanthamorton andrew...

#### Cleansing

In [49]:
def clean_text(token):
    
    token = re.sub(r'\[[0-9]*\]', ' ',token)
    token = re.sub(r'\s+', ' ', token)
    token = re.sub('[^a-zA-Z]', ' ', token )
    token = re.sub(r'\s+', ' ', token)
    
    return token

In [50]:
new_data['tokens'] = new_data['tokens'].apply(clean_text)

In [51]:
word = word_tokenize
stemmer = PorterStemmer()

In [52]:
def stem(token):
    token = word(token)
    token = [stemmer.stem(x) for x in token]
    return ' '.join(token)

In [53]:
new_data['tokens'] = new_data['tokens'].apply(stem)

#### Vectorization

In [54]:
new_data['tokens'][0]

'samworthington zoesaldana sigourneyweav jamescameron action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul d in the nd centuri a parapleg marin is dispatch to the moon pandora on a uniqu mission but becom torn between follow order and protect an alien civil'

In [55]:
tfidf = TfidfVectorizer(max_features=5000 , stop_words='english')

In [56]:
vectors = tfidf.fit_transform(new_data['tokens']).toarray()

In [57]:
# list(tfidf.get_feature_names_out())

In [58]:
vectors

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

#### Finding Similarity

##### Here we are using Cosine Similarity instead of Euclidean Distance.

In [59]:
similarity = cosine_similarity(vectors)

In [60]:
sorted(enumerate(similarity[0]) , reverse=True , key= lambda x : x[1])

[(0, 1.0),
 (2409, 0.2686399725888631),
 (3730, 0.19979624522845663),
 (582, 0.17218768130870638),
 (3608, 0.1637100584828132),
 (778, 0.1554159824453532),
 (1204, 0.15086525561125635),
 (539, 0.14844079993530182),
 (260, 0.14640644875261327),
 (1920, 0.14490284985777993),
 (942, 0.14401855391898977),
 (47, 0.14245312410726896),
 (838, 0.1399002113891752),
 (1216, 0.13713505732354234),
 (557, 0.13354393470184212),
 (507, 0.1332505890480841),
 (438, 0.12789086681749368),
 (3538, 0.12782260654493238),
 (1344, 0.12631795778574917),
 (311, 0.12580870515614762),
 (1089, 0.12460471688064093),
 (2786, 0.12315445721735753),
 (2284, 0.12263670472167659),
 (83, 0.12245309541831703),
 (3736, 0.12132102089120288),
 (2938, 0.12118163885670877),
 (74, 0.12082630520404496),
 (3218, 0.12017131750225378),
 (4336, 0.11846740799483274),
 (2204, 0.11786261663703262),
 (1831, 0.11631748639199836),
 (1747, 0.11615675135299178),
 (4048, 0.1158769248587853),
 (300, 0.11402060150839799),
 (1348, 0.11336768775009914),
 (91, 0.11325529950255205),
 (322, 0.11278498225619744),
 (301, 0.1125142483571187),
 (513, 0.11230457121284766),
 (1201, 0.11140378019706007),
 (4192, 0.1111590437742596),
 (151, 0.11036021636735342),
 (3628, 0.110252721753553),
 (373, 0.110220423976254),
 (94, 0.10979889804070878),
 (3162, 0.10963341171722897),
 (1097, 0.10861277372896683),
 (595, 0.10851951873877631),
 (52, 0.10802326988294324),
 (184, 0.10728845815470528),
 (3675, 0.10638670963165686),
 (4230, 0.10629502666085812),
 (1329, 0.10336080373942358),
 (1071, 0.10318135819535246),
 (1056, 0.1031050575037519),
 (466, 0.10285925357318365),
 (1275, 0.10281261793768244),
 (305, 0.10254723407261945),
 (3443, 0.10207394857045021),
 (529, 0.1018297565761691),
 (2971, 0.10177748118890685),
 (2584, 0.10113489447981067),
 (2873, 0.10094537092210346),
 (1321, 0.10040637116709535),
 (3327, 0.10010147808752817),
 (2515, 0.1000918028316225),
 (3954, 0.09936032953853056),
 (4405, 0.0982115784942105),
 (220, 0.09810421481204455),
 (577, 0.09731905239578109),
 (149, 0.09721904043584265),
 (369, 0.09653343255189356),
 (1444, 0.0955486390215638),
 (236, 0.09486090654443309),
 (2731, 0.09398156821757618),
 (1479, 0.09368864141225527),
 (2970, 0.09326987534008882),
 (1194, 0.0932479252933694),
 (27, 0.09322728846874727),
 (1130, 0.09256669848287766),
 (972, 0.09238646968057317),
 (775, 0.09110111240028121),
 (476, 0.09110077476220198),
 (878, 0.09108459445168816),
 (3376, 0.09089939752651593),
 (2333, 0.0905475361447531),
 (740, 0.08952791444336808),
 (541, 0.08951398591609526),
 (754, 0.08913160258883962),
 (579, 0.08856205576551265),
 (661, 0.0883441104652006),
 (1355, 0.0883138866946534),
 (1982, 0.08803545418735728),
 (2701, 0.08718505108589247),
 (3982, 0.08585627987514828),
 (36, 0.08566054064582497),
 (1149, 0.085548756887218),
 (2551, 0.08540572722988374),
 (2999, 0.08522765907780835),
 (1537, 0.08505641537654227),
 (1715, 0.08467444676732626),
 (843, 0.08443110299947922),
 (150, 0.08433592261196877),
 (18, 0.08428592294119339),
 (168, 0.08374405140493647),
 (342, 0.0836122293870286),
 (95, 0.08335317093402576),
 (1015, 0.08307760727033633),
 (502, 0.08290673697629705),
 (4353, 0.08290488440815541),
 (41, 0.08237908382063328),
 (4, 0.08222971013841007),
 (973, 0.08194341624566263),
 (172, 0.0816653208496034),
 (3409, 0.08151451896063164),
 (3999, 0.08114329931297859),
 (1774, 0.08107552965833495),
 (1965, 0.08056582498584867),
 (2136, 0.08053302735953996),
 (3783, 0.0797640373069518),
 (278, 0.07875105874225585),
 (1322, 0.07859972352907325),
 (3716, 0.07858011925855454),
 (3976, 0.07837974005071072),
 (67, 0.07784711084115395),
 (279, 0.07757554417223564),
 (1031, 0.07715281853339369),
 (1560, 0.07623839798149612),
 (1383, 0.07560186658537589),
 (4640, 0.07550669614672248),
 (61, 0.07545991246408054),
 (1808, 0.07520893375560679),
 (3093, 0.07478738472984965),
 (43, 0.07450065444863649),
 (461, 0.07388247620997807),
 (1616, 0.07331150719533294),
 (3864, 0.07311770410708378),
 (1497, 0.07300316239639439),
 (1166, 0.07225883416498963),
 (2253, 0.07157794451005059),
 (931, 0.07148598008689402),
 (1178, 0.07139990942028644),
 (3195, 0.07138073254037024),
 (777, 0.07130670017193022),
 (3147, 0.07114634959942437),
 (1202, 0.07093736451075618),
 (294, 0.07073025398071267),
 (549, 0.07038628715334169),
 (1378, 0.07037946450473395),
 (2760, 0.07032061388087382),
 (495, 0.0700761010030586),
 (3309, 0.06987326654535284),
 (46, 0.0692018555968354),
 (3235, 0.06841545931026032),
 (1220, 0.06839464008048565),
 (108, 0.06836117429624947),
 (275, 0.06828319735093664),
 (2547, 0.0682517369918195),
 (634, 0.06751402123597097),
 (1512, 0.06737734218669417),
 (1301, 0.0673594142838285),
 (1488, 0.0670038836366254),
 (2634, 0.06680917105847602),
 (1455, 0.06660065576886794),
 (3781, 0.06631140092791554),
 (1357, 0.06619891351957355),
 (4538, 0.06608311293784126),
 (4079, 0.06603976135684016),
 (3301, 0.06602865801489963),
 (3622, 0.06574042587540627),
 (422, 0.06568883847267327),
 (1741, 0.06564998242144067),
 (2644, 0.06564345280376545),
 (2792, 0.06544295659753518),
 (1938, 0.06536115641321569),
 (1277, 0.06528962238431453),
 (2789, 0.06520083646215638),
 (2620, 0.06488671390921169),
 (1765, 0.06475610904228744),
 (456, 0.06466729147599676),
 (2250, 0.06464144973932492),
 (1846, 0.06462511850317364),
 (1929, 0.06457332458047636),
 (1273, 0.06399943353614876),
 (900, 0.0637440272044944),
 (3462, 0.06363098618065757),
 (158, 0.06348700930423753),
 (737, 0.0633594479246586),
 (454, 0.06316815377253386),
 (4042, 0.06293059547407875),
 (889, 0.06287943981600447),
 (855, 0.06280888883233647),
 (2674, 0.06257329533119939),
 (898, 0.06243840063125882),
 (2133, 0.062309892752047104),
 (111, 0.06213026933694869),
 (1745, 0.0620438189217167),
 (3083, 0.061958007391560294),
 (1002, 0.061831747722919786),
 (568, 0.061793864230346635),
 (432, 0.06126425455212149),
 (1574, 0.06121546302524058),
 (4018, 0.060846691631368785),
 (312, 0.06067059907622417),
 (635, 0.06052134084073493),
 (1926, 0.06041226151486745),
 (4568, 0.060268568514849456),
 (483, 0.06009033726420414),
 (239, 0.060086242987560684),
 (692, 0.05997200628953295),
 (3102, 0.059880142529602304),
 (3109, 0.05955133052636079),
 (847, 0.059394828510997845),
 (2556, 0.059346653491804006),
 (3206, 0.05921333120976938),
 (332, 0.059061744731919455),
 (7, 0.05900698898988408),
 (2652, 0.05896932178470203),
 (1639, 0.05866493052104011),
 (2496, 0.058620460422028786),
 (4468, 0.05848060160765429),
 (2713, 0.05837123224574753),
 (127, 0.058324045330258326),
 (1945, 0.05812264470867391),
 (207, 0.0579550072594352),
 (1373, 0.05790807516942617),
 (3839, 0.057882994595376415),
 (643, 0.05787075950702647),
 (2109, 0.05763271318567095),
 (908, 0.057537021619599206),
 (2740, 0.05748385560926776),
 (2181, 0.057319671173369974),
 (647, 0.05718619944741045),
 (1473, 0.05705100136508738),
 (1297, 0.05688145361365457),
 (668, 0.056763798751521724),
 (4198, 0.05673428171934413),
 (2450, 0.056690333529934744),
 (2488, 0.05661351978815361),
 (1531, 0.05641655642546395),
 (4545, 0.05637243962286103),
 (581, 0.05604222989880002),
 (587, 0.055994869186268253),
 (1823, 0.055994560332742825),
 (1396, 0.055977191508719375),
 (56, 0.05596653997379277),
 (1082, 0.05588577266456436),
 (1418, 0.055812832200522765),
 (3116, 0.05573367672795473),
 (589, 0.05558840624987915),
 (1700, 0.055395647456655706),
 (249, 0.05533291979774152),
 (1156, 0.0551949393044392),
 (4587, 0.05511093606458796),
 (1274, 0.05500832576055245),
 (3663, 0.05499470860521771),
 (4259, 0.05495132541863343),
 (2112, 0.05489607580595281),
 (281, 0.054690322987953545),
 (2506, 0.05451058378534148),
 (206, 0.05441713623686199),
 (1019, 0.05416255734168473),
 (282, 0.05409612136795417),
 (1802, 0.05407021444585066),
 (1790, 0.053965097805370135),
 (2372, 0.05386861051266835),
 (1878, 0.05383552039379829),
 (31, 0.05382783941778111),
 (3091, 0.0535062784631572),
 (3008, 0.05340987390937828),
 (2840, 0.05337906880913696),
 (790, 0.053363374303038405),
 (4045, 0.053154555521288026),
 (134, 0.05309677019336785),
 (3720, 0.05308154927389438),
 (3874, 0.05307980636430394),
 (1145, 0.05302859744901874),
 (487, 0.05283762102881146),
 (2021, 0.05281338412374474),
 (1898, 0.05265857503151656),
 (68, 0.05255976719872246),
 (45, 0.05250050775238177),
 (4578, 0.05244908431842695),
 (1439, 0.052340500071091214),
 (1086, 0.05218201817864861),
 (449, 0.052072983078350066),
 (139, 0.05205469775213798),
 (1007, 0.052015706495666766),
 (646, 0.05192137634980818),
 (3117, 0.051831771539170624),
 (3464, 0.05177196617766105),
 (1446, 0.05172733940322152),
 (3441, 0.051654025383507295),
 (230, 0.0511896846113827),
 (166, 0.051187681059197646),
 (87, 0.05109749597348061),
 (4506, 0.050905268891301994),
 (2060, 0.0508881991742416),
 (297, 0.05084792685706499),
 (3553, 0.0508362351735209),
 (505, 0.050722291108533206),
 (564, 0.050640936283457796),
 (4000, 0.05049122175649441),
 (1278, 0.05044579929993035),
 (2159, 0.05037806009511227),
 (1617, 0.05027170365333637),
 (1996, 0.05018374806828563),
 (3448, 0.050135227840894685),
 (2169, 0.05008498666816793),
 (2787, 0.05005017245266877),
 (3478, 0.04993447760496486),
 (170, 0.04979992811304199),
 (2660, 0.0497208988742863),
 (3212, 0.04969191484238759),
 (4408, 0.0496704869680149),
 (4268, 0.04930597510129023),
 (859, 0.0492562004853878),
 (75, 0.04917113935436013),
 (4097, 0.04910392020475556),
 (2241, 0.049009151439000816),
 (3935, 0.04899852658357135),
 (48, 0.048827125436017665),
 (4793, 0.048752438228121156),
 (2718, 0.04857697745604457),
 (3630, 0.048543416968037864),
 (228, 0.048300715788822966),
 (1668, 0.04828333714861472),
 (2772, 0.048250724806452275),
 (17, 0.04819167856330264),
 (4412, 0.04817173997706091),
 (2247, 0.04799796336780225),
 (2331, 0.04773453727666091),
 (1667, 0.04772664938173449),
 (1045, 0.04763078163186454),
 (4181, 0.04758703622523853),
 (1304, 0.04754098996370629),
 (854, 0.047475346617521494),
 (939, 0.047409142753933396),
 (1405, 0.047221550186665816),
 (4718, 0.04716375722406381),
 (473, 0.04716294358853229),
 (2219, 0.04714063135528454),
 (1454, 0.04711898756916472),
 (535, 0.0471121546462653),
 (3486, 0.047078969667900816),
 (808, 0.04665319899347143),
 (174, 0.04658712654563535),
 (4325, 0.046573078277918484),
 (2648, 0.04653562120832514),
 (4305, 0.0465113365899843),
 (1248, 0.046494294697762256),
 (4216, 0.04643824118021415),
 (3228, 0.04609190561577253),
 (3431, 0.046088507582649804),
 (570, 0.04597350564937856),
 (1016, 0.04586052718783939),
 (307, 0.045795432144568576),
 (812, 0.04564108866221638),
 (26, 0.04562761376727381),
 (3449, 0.045487292413956056),
 (510, 0.045411896133875106),
 (1109, 0.04537953783236137),
 (404, 0.04528382343222178),
 (807, 0.04527518321934382),
 (752, 0.04511463072175978),
 (2783, 0.04509023627452462),
 (626, 0.045043654034038504),
 (256, 0.04493725301301905),
 (3701, 0.04492293256628642),
 (2529, 0.04489259678235398),
 (223, 0.04485571635544993),
 (2378, 0.044807803572212326),
 (4559, 0.04473750953714088),
 (3354, 0.04464008895287131),
 (2538, 0.04455272260905641),
 (480, 0.044505741763857104),
 (2575, 0.04441682913642183),
 (286, 0.044238169387284684),
 (270, 0.04414594097425563),
 (3755, 0.04402659409109042),
 (1158, 0.04393793375864),
 (486, 0.04391372328230023),
 (2243, 0.04388739797417623),
 (283, 0.04369152681223407),
 (3028, 0.04354889431254519),
 (2794, 0.043480768689323636),
 (4010, 0.04344627865956587),
 (3340, 0.043435256936774136),
 (72, 0.04339401319962725),
 (4654, 0.04329545946845991),
 (4624, 0.043287022541568784),
 (2439, 0.04327712846529764),
 (3881, 0.043199765651017824),
 (4626, 0.04315668831357758),
 (2642, 0.043147350808331826),
 (5, 0.04313780591604264),
 (123, 0.042885920628250286),
 (1614, 0.04276845118267669),
 (632, 0.042720641335972705),
 (2144, 0.04271326115734992),
 (141, 0.04265140150772058),
 (246, 0.04262958294705667),
 (3930, 0.04261428003765991),
 (4120, 0.042543632964546385),
 (262, 0.04252797555027774),
 (2093, 0.04250750180138788),
 (3390, 0.04248561063281468),
 (2994, 0.042397552248851875),
 (2763, 0.04233466907097322),
 (222, 0.04231961539697579),
 (4451, 0.042182513823226464),
 (2075, 0.042118983575015104),
 (3060, 0.042081044222572805),
 (1832, 0.042064361635358004),
 (363, 0.04201255843042058),
 (1294, 0.04198292080008578),
 (870, 0.04192924719165029),
 (1467, 0.04188907115744117),
 (2148, 0.04175038959918553),
 (2389, 0.04172451744292765),
 (2018, 0.04170527071779172),
 (4652, 0.041693880497817346),
 (787, 0.04163755102604286),
 (2868, 0.04163105606605347),
 (85, 0.041629600362856026),
 (1556, 0.04160817125854674),
 (1686, 0.04160605372721142),
 (1650, 0.041538345569480634),
 (4803, 0.04140066605934652),
 (3542, 0.04138782578435669),
 (1884, 0.04134600395284693),
 (3182, 0.04130981209536115),
 (1860, 0.04124896491648082),
 (4798, 0.04112043599837681),
 (2066, 0.04111036550283235),
 (2813, 0.04102472931913052),
 (785, 0.040997045620463496),
 (420, 0.04097535486570911),
 (2968, 0.04094255772733643),
 (70, 0.04083402416114309),
 (678, 0.040824594846732856),
 (375, 0.0407445472479065),
 (187, 0.04070195289859327),
 (2388, 0.04067111385299194),
 (3423, 0.040624733279079416),
 (2367, 0.04062091512957639),
 (1771, 0.04061014728690368),
 (1534, 0.04056755392040158),
 (4673, 0.04051406463994583),
 (448, 0.04051090237739491),
 (199, 0.04035688111109521),
 (4532, 0.040341857358247066),
 (1161, 0.040327446298196984),
 (1486, 0.040129702269211545),
 (2892, 0.0400952955704403),
 (1849, 0.0400336178844822),
 (674, 0.04002216668538271),
 (3306, 0.04001568758020235),
 (21, 0.03996536025137544),
 (1037, 0.039945116344731094),
 (331, 0.039935337674550805),
 (2622, 0.03992274793166962),
 (1553, 0.039893906332799295),
 (14, 0.03983562979390806),
 (2689, 0.039768624192157015),
 (138, 0.039732563050527525),
 (1769, 0.03973160888834581),
 (365, 0.039695459335575396),
 (2456, 0.039652948458968745),
 (4343, 0.03963328297223834),
 (3344, 0.03958394041334807),
 (131, 0.03956083228748399),
 (306, 0.03944613000196279),
 (4341, 0.039379062101928555),
 (1121, 0.039354921754120434),
 (704, 0.039293185990340936),
 (1957, 0.03924403460770336),
 (1312, 0.0392191689061892),
 (2663, 0.03921690316312642),
 (368, 0.03912462101859256),
 (2199, 0.03912431981799893),
 (988, 0.03904109700244798),
 (997, 0.03902009888211581),
 (1096, 0.0390120734227403),
 (126, 0.03898143949546465),
 (2430, 0.03897920877935178),
 (3074, 0.0389077603639408),
 (193, 0.038854818801433155),
 (3634, 0.038823180139852434),
 (1036, 0.0387246973410954),
 (160, 0.03856647088662443),
 (1440, 0.03853894717442318),
 (1655, 0.03840982678990698),
 (4492, 0.038342570154306116),
 (4006, 0.03833053154523074),
 (3819, 0.03829847178562472),
 (786, 0.03821394691055103),
 (2817, 0.03811605495740359),
 (2022, 0.038104401253609574),
 (1018, 0.03808129916281683),
 (1944, 0.03807815982097559),
 (1408, 0.038012388677136924),
 (935, 0.0379894975625593),
 (304, 0.03791057394480084),
 (687, 0.03789491370047506),
 (1327, 0.03788042756527406),
 (2955, 0.03787189836227476),
 (413, 0.03785992807009515),
 (781, 0.03785949147846775),
 (3310, 0.03779504968541342),
 (2232, 0.0377883226889348),
 (4243, 0.03767251228279876),
 (254, 0.03761751808373984),
 (1288, 0.03759076032814844),
 (472, 0.037407830392937394),
 (1600, 0.03738386784205036),
 (274, 0.03737135311145071),
 (3430, 0.03736893999107601),
 (2552, 0.0373640489357239),
 (653, 0.03729674800059228),
 (142, 0.03726682802505868),
 (600, 0.037233585393094085),
 (536, 0.03721115798578312),
 (2650, 0.03718504741862794),
 (1963, 0.03717222101597996),
 (1023, 0.03706979940265906),
 (1810, 0.0370670036807325),
 (770, 0.037007203843129825),
 (1658, 0.03698432799551131),
 (1523, 0.03695873488423946),
 (189, 0.03692416081002065),
 (901, 0.036898299261900795),
 (156, 0.03689491967149015),
 (132, 0.036892041392996275),
 (2259, 0.03680505834432805),
 (4207, 0.03659748468285275),
 (4358, 0.03659622858482477),
 (4128, 0.036590611391157934),
 (1906, 0.03658385187207155),
 (2632, 0.03654874290498485),
 (3022, 0.03646465983541915),
 (467, 0.03643536889197326),
 (2397, 0.03642322644858066),
 (4558, 0.036398815494382265),
 (2035, 0.036396377005397954),
 (2645, 0.036394731285917636),
 (1538, 0.036374347696558076),
 (2592, 0.036305729258605327),
 (208, 0.0362895472861583),
 (4799, 0.03626718626051448),
 (2639, 0.03626232911987998),
 (897, 0.03612644404135599),
 (3392, 0.03609373131174474),
 (3, 0.03607901947827776),
 (1612, 0.036016810346737246),
 (2356, 0.03600836202290186),
 (602, 0.036003309056048205),
 (1477, 0.03596073664626649),
 (2448, 0.03595165773737759),
 (3440, 0.03590940409538703),
 (4490, 0.03589981887839016),
 (3560, 0.035845126791364784),
 (415, 0.03573289664569812),
 (4623, 0.035724957046312567),
 (3744, 0.0357155626454798),
 (2200, 0.0356870707086498),
 (3297, 0.0356388414359677),
 (951, 0.035621973482734604),
 (2762, 0.03560841035908505),
 (4781, 0.03559221534831417),
 (410, 0.035572309695313824),
 (1361, 0.03542401974232927),
 (182, 0.0354160880736007),
 (4348, 0.03541096490013018),
 (2880, 0.03540396950017304),
 (3322, 0.035388107363259064),
 (3389, 0.03527165739901682),
 (2904, 0.0352135927340222),
 (59, 0.035171328419616094),
 (3164, 0.03511370970911791),
 (1575, 0.03508336581834355),
 (2856, 0.0350183589626132),
 (2686, 0.034993080585438895),
 (617, 0.03499071718532361),
 (1401, 0.03498580928271433),
 (4675, 0.034965846584215476),
 (2376, 0.03486365364581892),
 (963, 0.03479171103711501),
 (107, 0.03477044339667295),
 (423, 0.03474799433932077),
 (2593, 0.03470643507803077),
 (490, 0.034696052167297105),
 (1282, 0.03466416479728823),
 (1120, 0.03463145428374884),
 (1775, 0.03462118999692053),
 (302, 0.03459034411128878),
 (866, 0.034534248381348984),
 (1004, 0.03452180401574936),
 (430, 0.03449489794797544),
 (3739, 0.03447644205231423),
 (325, 0.03445263997147344),
 (4403, 0.034428434496755415),
 (3069, 0.03439025650453496),
 (3910, 0.03438004705153786),
 (4510, 0.0343367960407969),
 (1324, 0.034250739998670336),
 (2498, 0.03424792986852705),
 (2712, 0.03415636486103319),
 (572, 0.034155036817620256),
 (746, 0.03409192015646663),
 (2852, 0.034055764709355375),
 (2478, 0.03402612271513818),
 (445, 0.03397696036272104),
 (571, 0.03392455194823418),
 (2203, 0.03386051401567908),
 (2138, 0.03383523237787403),
 (169, 0.033793659099069014),
 (3740, 0.03376672033541824),
 (341, 0.03375555953159304),
 (3901, 0.03368529143833374),
 (680, 0.03352963817820849),
 (2295, 0.03350828018646297),
 (153, 0.03346923348969032),
 (1524, 0.03341355585571723),
 (4472, 0.03339420863308291),
 (2003, 0.03339387684148134),
 (219, 0.03335949542881211),
 (3507, 0.03335028574374194),
 (1171, 0.03334116238181961),
 (154, 0.0332860825262991),
 (488, 0.03324297471661715),
 (1249, 0.033241697269169465),
 (102, 0.033241181723851085),
 (3176, 0.033168783472831385),
 (2013, 0.03315729534349836),
 (4331, 0.03315251560130431),
 (122, 0.03312586563078895),
 (2741, 0.03309023193312884),
 (1231, 0.03307701739435383),
 (1496, 0.033030048216430526),
 (894, 0.032993065534728125),
 (235, 0.03292370849404287),
 (672, 0.03292107295729177),
 (3072, 0.0329064521502227),
 (3152, 0.03285632537533141),
 (1427, 0.03284406871760963),
 (234, 0.032758273554532535),
 (814, 0.03272874162259888),
 (4594, 0.032653998900925005),
 (3678, 0.03264454160811882),
 (1970, 0.0326036389277449),
 (2127, 0.03260249828260586),
 (2386, 0.03253325523836163),
 (4180, 0.032530019510233855),
 (4657, 0.03250639905326926),
 (3737, 0.032464481361592586),
 (3597, 0.03246014099183688),
 (2017, 0.03244071944711206),
 (2802, 0.03243265970360602),
 (1833, 0.03238584695848014),
 (3451, 0.032358579955390404),
 (2115, 0.03231669508314726),
 (2832, 0.032306991596969745),
 (63, 0.032219762282488386),
 (1070, 0.03217967092934116),
 (1191, 0.03214096403679394),
 (1519, 0.03212255788694553),
 (3834, 0.03209979035611005),
 (1280, 0.03207912382042533),
 (4483, 0.03205687413693294),
 (4112, 0.0319271047471779),
 (2902, 0.03190743275321451),
 (1207, 0.03190723231911771),
 (1681, 0.0318648855944858),

In [61]:
new_data.iloc[582].title

'Battle: Los Angeles'

In [62]:
new_data[new_data['title'] == 'Battle: Los Angeles'].index[0]

582

#### Recommendation System

In [63]:
def recommender(name):

    index = new_data[new_data['title'] == name].index[0]
    top6 = sorted(enumerate(similarity[index]) , reverse=True , key= lambda x : x[1])[1:7]
    
    for i in top6:
        movie = new_data.iloc[i[0]].title
        print(movie)

In [64]:
recommender('Avatar')

Aliens
Falcon Rising
Battle: Los Angeles
Apollo 18
Meet Dave
Predators

In [65]:
recommender('Battle: Los Angeles')

Sands of Iwo Jima
Falcon Rising
Avatar
Skyline
Force 10 from Navarone
The Thin Red Line

In [66]:
def movie(name):
    
    name = name.lower()
    new_title = [re.sub(r'[^\w\s]', '', title.lower()) for title in new_data['title']]

    if name in new_title:
        index = new_title.index(name)
        recommender(new_data.iloc[index].title)
    else:
        print(f'No movie available for "{name}"')

In [67]:
# name = input('Enter Movie Name : ')
# movie(name)

#### Generates Pickle files for app

In [68]:
data_app.head(1)

,id,title,genres,overview,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [69]:
data_dict = data_app.to_dict()

In [70]:
pickle.dump(data_dict, open('deployment/movie_dict.pkl', 'wb'))

In [71]:
pickle.dump(similarity, open('deployment/similarity.pkl', 'wb'))